/* main styling for every page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(29, 26, 26);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 50%;
    padding: 40px;
}

/* styling for home page */
.title {
    font-size: 60px;
    color: #fff;
    margin-bottom: 10px;
}

.quiz-desc {
    font-size: 25px;
    color: #fff;
    padding: 40px;
    text-align: center;
}

.start-quiz-p {
    color: rgb(170, 98, 170);
}

.home-btn {
    font-size: 50px;
    padding: 20px;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(28, 26, 26);
    background: rgb(170, 98, 170);
    border-radius: 7px;
    border: none;
}

.home-btn:hover {
    cursor: pointer;
    background: rgb(165, 44, 165);
}

/* styling for highscore page */
.hs-title {
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
}

.hs-btn {
    font-size: 50px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: rgb(28, 26, 26);
    background: rgb(170, 98, 170);
    border-radius: 7px;
    border: none;
}

.hs-btn:hover {
    cursor: pointer;
    background: rgb(165, 44, 165);
}

.high-score-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px;
}

li {
    margin-bottom: 10px;
    font-size: 200%;
    color: white;
    list-style: none;
}

/* styling for questions page */
.timer {
    margin-top: 50px;
}

/* styling for submit page */
.submitTitle {
    font-size: 300%;
    color: white;
    margin-bottom: 10px;
}

/* extra general styling */
.initialInput {
    width: 100%;
    outline: none;
    border: none;
    padding: 12px;
    font-size: 2.2rem;
    border: 2px solid rgb(170, 98, 170);
    border-radius: 12px;
    margin-bottom: 10px;
}

.buttonSelection {
    display: block;
    height: 50px;
    width: 300px;
    margin: 7px;
    font-size: 150%;
    background: rgb(170, 98, 170);
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    border: 0;
}

.buttonSelection:hover {
    cursor: pointer;
    background: rgb(165, 44, 165);
}

.titleSelection {
    margin-bottom: 50px;
    font-size: 200%;
    color: white;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}